/* Reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background-color: #f6f6f6; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.DraftEditor-root {
  z-index: 0;
}

.DraftEditor-editorContainer {
  z-index: 0 !important;
}

/* nprogress */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End reset css */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
.wrap .wrap-infor {
  align-self: flex-start;
}

.wrap-infor {
  margin: 5px;
  padding: 10px;
  background: hsl(168, 55%, 88%);
  border-radius: 6px;
  margin-top: 30px;
}

/* start css for bt1 */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 80%;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: hsla(0, 0%, 0%, 0.24);
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.16);
}

.title {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.table {
  width: 98%;
  margin: 10px;
}

/* End css for bt1 */

@media only screen and (min-width: 480px) {
  .reponsive {
    width: 550px;
  }

  .tkb {
    width: 780px;
  }

  .reponsive-main-page {
    width: 880px;
  }
}

/* Start css for bt2 */

table,
td,
th {
  border: 1px solid rgb(117, 117, 117);
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  width: 100%;
}

th,
td {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
  width: auto;
  font-size: 13px;
}

td:hover {
  background-color: hsl(204, 100%, 64%);
}

.tab-nav {
  background-color: hsl(192, 15%, 99%);
}

.tab-title > th {
  background-color: hsl(184, 9%, 92%);
}

.tab-with-data {
  background: hsl(204, 70%, 91%);
}

.tab-with-data:hover {
  background: hsl(224, 69%, 60%);
}

.elementForm {
  display: grid;
  grid-template-columns: 7fr 16fr 1fr;
  margin: 16px 6px;
}

.elementForm > label {
  text-align: left;
}

.inputRadio {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.elementLabel {
  text-align: left;
}

.inputCheckbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
}

.inputCheckbox > div {
  width: auto;
}

/* End css for bt2 */

/* Start css for nav */

#wrap-header a {
  text-decoration: none;
  padding: 8px 16px;
}

#wrap-header #menu-header li a:hover {
  color: rgb(255, 255, 255);
}

#wrap-header #menu-header > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#wrap-header #menu-header ul {
  list-style: none;
}

#wrap-header #menu-header > ul > li {
  text-align: center;
  width: 100px;
  display: block;
  padding: 1rem 6px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

#wrap-header #menu-header > ul > li > ul > li {
  width: 100px;
  padding: 1rem 6px;
}

#wrap-header #menu-header > ul > li > ul > li:hover,
#wrap-header #menu-header > ul > li > ul > li:focus {
  background: rgb(182, 182, 182);
}

#wrap-header #menu-header li a {
  color: rgb(0, 0, 0);
}

#wrap-header #menu-header li:hover,
#wrap-header #menu-header li:focus-within {
  background: rgb(182, 182, 182);
  cursor: pointer;
}

#wrap-header #menu-header li:focus-within a {
  outline: none;
}

#wrap-header #menu-header > ul > li > ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding-top: 6px;
  left: 0;
  display: none;
  text-align: center;
}

#wrap-header #menu-header ul li:hover > ul,
#wrap-header #menu-header ul li:focus-within > ul,
#wrap-header #menu-header ul li ul:hover,
#wrap-header #menu-header ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  background: rgb(211, 211, 211);
}

#wrap-header #menu-header ul li ul li {
  clear: both;
}

/* End css right nav */

/* Start card profile */

.img-wrapper {
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.img-wrapper img {
  height: 400px;
  width: 300px;
}

.img-wrapper h2 {
  background: tomato;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.img-wrapper ul {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li {
  background: #333;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  transform: perspective(800px) rotateY(90deg);
  transition: 0.5s;
  transform-origin: left;
}

.img-wrapper:hover ul li {
  transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1) {
  transition-delay: 0.2s;
}

.img-wrapper:hover ul li:nth-child(2) {
  transition-delay: 0.6s;
}

.img-wrapper ul li a {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i {
  color: tomato;
  background: rgba(255, 255, 255, 0);
}

.img-wrapper ul li i:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}

/* End card profile */
